[submodule "cookbooks/mysql"]
	path = cookbooks/mysql
	url = https://github.com/chef-cookbooks/mysql
[submodule "cookbooks/docker"]
	path = cookbooks/docker
	url = https://github.com/chef-cookbooks/docker
